@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot');
  src: url('../font/fontello.eot') format('embedded-opentype'),
       url('../font/fontello.woff2') format('woff2'),
       url('../font/fontello.woff') format('woff'),
       url('../font/fontello.ttf') format('truetype'),
       url('../font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
* {
    word-break: break-word;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #f2f2f2;
    border-radius: 8px;
}
.dark ::-webkit-scrollbar {
    background-color: #121212;
}
::-webkit-scrollbar-thumb {
	background-color: #7300ac;
	border-radius: 80px;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    width: 100%;
}

body {
    background-color: #f2f2f2;
    color: #343434;	
    font-family: 'Roboto Condensed', sans-serif;
}

body.dark {
    background-color: #121212;
    color: #fafafa;	
}

a {
    position: relative;
}
a:focus{ 
    outline: none;
}
a:not(.no-focus):focus:after {
    content: '';
    position: absolute;
    width: calc(100% + 4px);
    height: calc(100% + 1px);
    top: -1px;
    left: -2px;
    border: 1px solid rgba(115, 0, 172, 0.35);
    border-radius: 4px;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
 
.icon-user:before { content: '\e800'; }
.icon-dark:before { content: '\e801'; }
.icon-spin:before { content: '\e802'; }
.icon-logout:before { content: '\e803'; }
.icon-settings:before { content: '\e804'; }

.loading-con {
    display: block;
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    animation: spin .85s linear infinite;
}

.loading-con-sm {
    display: block;
    position: relative;
    left: calc(50% - 22px);
    width: 44px;
    height: 44px;
    animation: spin .85s linear infinite;
}

.loading-con:after, .loading-con-sm:after {
    content: '\e802';
    position: absolute;
    font-family: "fontello";
    font-size: 70px;
    top: 6px;
    left: 0;
    line-height: 1em;
    color: #7300ac;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.loading-con-sm:after {
    font-size: 52px;
    top: 4px;
}

@keyframes spin {
    from {
        transform: rotateZ(360deg);
    }
    to{
        transform: rotateZ(0deg);
    }
}
