{
    "presets": ["@babel/env", "@babel/react"],
    "plugins": ["transform-node-env-inline", "emotion", "react-hot-loader/babel"],
    "env": {
        "production": {
            "plugins": [
                "transform-react-remove-prop-types"
            ]
        }
    }
}
